@model  Proje2ERP.Controllers.HomeController.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Anasayfa</a></li>
     
        </ol>

    </div>
    <div id="page-inner">

        <div class="dashboard-cards">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image red">
                            <i class="material-icons dp48">import_export</i>
                        </div>
                        <div class="card-stacked red">
                            <div class="card-content">
                                <h3>@Model.TotalEarning</h3>
                            </div>
                            <div class="card-action">
                                <strong>KAZANÇ</strong>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image orange">
                            <i class="material-icons dp48">shopping_cart</i>
                        </div>
                        <div class="card-stacked orange">
                            <div class="card-content">
                                <h3>@Model.SaleCount</h3>
                            </div>
                            <div class="card-action">
                                <strong>SATIŞLAR</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image blue">
                            <i class="material-icons dp48">equalizer</i>
                        </div>
                        <div class="card-stacked blue">
                            <div class="card-content">
                                <h3>@Model.ProductCount</h3>
                            </div>
                            <div class="card-action">
                                <strong>ÜRÜNLER</strong>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image green">
                            <i class="material-icons dp48">supervisor_account</i>
                        </div>
                        <div class="card-stacked green">
                            <div class="card-content">
                                <h3>@Model.ClientCount</h3>
                            </div>
                            <div class="card-action">
                                <strong>MÜŞTERİLER</strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>
